body {
  margin: 0;
}

:root {
  --amplify-primary-color: #147fa0;
  --amplify-primary-tint: #003099;
  --amplify-primary-shade: #0073c9;
}

/* amplify-greetings {
	--background-color: black;
	--border-color: black;
	color: white;
} */

amplify-authenticator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  margin-top: 10%;
}

.list-group-item {
  padding: 0.25rem 0.75rem;
}

.maintable {
  min-width: 650;
}
